{% load static %}


<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel='stylesheet' type='text/css' href="{% static 'finance/style.css' %}">
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <title>{% block title %}{% endblock%}</title>
    </head>

    <body>
        {% block menu %}
            <div class = 'nav'>
                <a href="{% url 'home' %}" class="icon-container">
                    <img src="{% static 'finance/wallet_gold_50.png' %}" height="40" class='wallets_image'>
                    <span class="icon-text">Wallets</span>
                </a>
            </div>
        {% endblock %}

        {% block header %}
        {% endblock %}

        <div class='flex-container'>
            <div class='left_side_bar'>
                {% block left_side_bar %}
                {% endblock%}
            </div>

            <div class='content'>
                {% block content %}
                {% endblock%}
            </div>
        </div>


    </body>
</html>