{% load static %}

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel='stylesheet' type='text/css' href="{% static 'finance/style.css' %}">
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <title>{% block title %}{% endblock%}</title>
    </head>

    <body>
        {% block menu %}
            <div class = 'nav'>
                <button class="btn nav_btn" onclick="location.href='{% url 'home' %}'">Wallets</button>
                <button class="btn nav_btn" onclick="location.href='{% url 'update_wlt' current_wlt.pk %}'">Edit wallet</button>
                <button class="btn nav_btn" onclick="location.href='{% url 'delete_wlt' current_wlt.pk %}'">Delete wallet</button>
                <button class='btn nav_btn btn_blue' onclick="location.href='{% url  'add_income_type' current_wlt.pk %}'">Income types</button>
                <button class='btn nav_btn btn_red' onclick="location.href='{% url  'add_income_type' current_wlt.pk %}'">Spending types</button>



            </div>
        {% endblock %}

        {% block header %}{% endblock %}

        <div class='flex-container'>
            <div class='left_side'>
                {% block left_side %}
                {% endblock%}
            </div>

            <div class='right_side'>
                {% block right_side %}
                {% endblock%}
            </div>
        </div>
    </body>
</html>