body {
    background-image: url('bg_v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    appearance: none; /* Для большинства браузеров */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none; /* Firefox */
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 15px 10px 5px 5px;
    padding: 0px 5px 0px 10px;
    text-align: left;
    width: auto;
}

.nav_H{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 10px;
    text-align: left;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 30px 0px 15px;
}

h2 {
    font-size: 14px;
    margin: 15px;

}

.wallet {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 10px 5px 20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: red;
    margin: 10px 0;
}

.footer {
    background: orange;
}

/* --------------- B U T T O N S --------------- */
.btn {
    border: 1px solid black;
    line-height: 1.1;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
    word-wrap: break-word;
    text-align: center;
    border-radius: 8px;
}
.btn:hover {
    transform: scale(1.1);
}

.btn_wlts {
    margin: 0px 0px 0px 10px;
    padding: 10px;
    background-color: rgba(0, 139, 139, 0.2);
    width: 150px;
    font-size: 12px;
    text-align: left;
    border-radius: 15px;
}
.btn_wlts:hover {
    background-color: #a52a2a; /*red*/
    color:#ffe4e1; /* mintrose*/
    border-radius: 25px;
}

.btn_add_wlt {
    background-color: rgba(241, 148, 138, 0.7);
    width: fit-content;
    height: 23px;
    margin: 0px 5px 0px 0px;
    font-size: 12px;
    border-radius: 15px;
}
.btn_add_wlt:hover {
    background-color: #a52a2a; /*red*/
    color:#ffe4e1; /* mintrose*/
}

.nav_btn {
    background-color: rgb(247, 220, 111); /*yellow light*/
    width: fit-content;
    min-width: 25px;
    height: 23px;
    margin: 0px 7px 0px 0px;
    font-size: 14px;
}
.nav_btn:hover {
    background-color: rgb(212, 172, 13); /*yellow dark */
}
.btn_blue{
    background-color: rgb(133, 193, 233); /*blue light*/
}
.btn_blue:hover {
    background-color: rgb(40, 116, 166); /*blue dark*/
    color: #ffe4e1;
}
.btn_red{
    background-color: #f08080;  /*Light Coral */
}
.btn_red:hover {
    background-color: #a52a2a; /* red*/
    color: #ffe4e1;
}

.btn_green{
    background-color: rgb(98, 171, 143); /*green*/
    margin: 10px 10px 10px 10px
}
.btn_green:hover {
    background-color: rgb(88, 132, 90); /*green*/
    color: #ffe4e1;
}


/*------------------------------- C O N T A I N E R S ---------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container > .left_side {
    margin: 0px 0px 5px 5px;
    padding: 0px 0px 0px 0px;
    width: auto;
}

.flex-container > .right_side {
    margin: 0px 5px 5px 20px;
    width: auto;
}

.container_dark{
    margin: 10px;
    padding:10px;
    background-color: rgba(0, 139, 139, 0.1);
    border-radius: 10px;
}

/* -------------------------------F O R M S ---------------------- */
form {
    font-size: 14px;
    padding: 10px 10px 15px 10px;
    margin: 0px 0px 0px 0px;

}
input[type="text"], [type="number"], textarea {
    padding: 0px 5px 0px 10px;
    height: 22px;
    width: 100px;
    margin: 0px 10px -5px 0px;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 5px;
}
input:disabled, select:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}
select {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    margin: 0px 5px 0px 0px;
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;
    border-radius: 5px;
    height: 22px;

}
select:focus {
    outline: none;
    border-color: black;
}

.form_view {
    margin: 0px 0px 0px 0px;
    height: 30px;
}

.form_comm {
    margin: 0px 0px 0px 0px;
    height: 60px;
}


/* ------------------- MODAL window ------------------*/
.modal {
        display: none; /* По умолчанию окно скрыто */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal-content {
        background-color: rgba(226, 189, 177, 0.8);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        text-align: center;
        border-radius: 10px;
        font-size: 12px;
    }
.btn_mod {
    width: 70px;
    height: 30px;
    margin: 10px;
    font-size: 14px;
}


/* ---------------- T A B L E S ------------------*/
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    text-align: left;
}
table th {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-bottom: 2px solid black;
    font-size: 12px;
    text-align: center;
}
table td {
    padding: 5px;
    border-bottom: 1px solid black;
}
table td a {
    text-decoration: none;
    color: inherit;
}
table td a:visited {
    color: inherit;
}
table td a:hover {
    color: white;
}
table td a:active {
    color: inherit;
}
table tr:nth-child(even) {/* Чередование цвета строк */
    background-color: rgba(0, 0, 0, 0.1);
}
table tr:hover {
    background-color: rgba(0, 139, 139, 0.3);

}
table tr:hover th {
}

.collapsible {/* for collapse */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: right;
    outline: none;
    width: 100%;
}

.table-container {
    display: none;
    overflow: hidden;
}

.always-visible {
    display: table-row;
}

/* Убираем начальное скрытие таблиц */
.dt.table-container, .ct.table-container {
    display: table-row; /* Поставим их сразу в развернутый вид */
}


/* ------------------- other ------------------*/
.msg {
     margin: 15px;
     font-size: 14px;
}

.info_txt{
     margin: 15px;
     font-size: 12px;
     line-height: 0.6
}

.types_lst {
     margin: 15px;
     font-size: 12px;
     line-height: 0.1
}

.bal {
    font-weight: bold;
    font-size: 12px;
}

.d {
    font-weight: bold;
    color: blue;
    font-size: 13px;

}

.c {
    font-weight: bold;
    color: rgb(183, 0, 14);
    font-size: 13px;
}



