{% load static %}

<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' href="{% static 'finance/style.css' %}">
        <title>Wallets</title>
    </head>
    <body>
        <div>
            <div class='nav_H'>
                <div class="wallet">Wallets</div>
                <button class="btn btn_add_wlt" onclick="location.href='{% url 'create_wlt' %}'">Add new</button>
            </div>
            {% for wlt in wlts %}
                <p><button class="btn btn_wlts" onclick="location.href='{% url 'home_wlt' wlt.pk %}'">
                    <span style="font-weight: bold">{{wlt.f_name}}</span>
                    <br><span>init bal {{wlt.init_balance}}</span>



                </button></p>

            {% endfor %}
        </div>
    </body>
</html>