{% extends 'layout/basic.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} Wallets {% endblock %}

{% block menu %}{% endblock %}

{% block extra_head %}
     <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            drawChart1();
            drawChart2();
        }

        function drawChart1() {
            var data1 = google.visualization.arrayToDataTable({{ data_pie_chart|safe }});
            var options1 = {
                title: 'All wallets, %',
                backgroundColor: { fill: 'transparent' },
                slices: {
                    0: {offset: 0.1}, // Сдвиг первого сегмента
                    1: {offset: 0.1}, // Сдвиг второго сегмента
                    2: {offset: 0.1}, // Сдвиг третьего сегмента
                },
                chartArea: {
                    left: 0,
                    top: 20,
                    width: '90%',
                    height: '90%'
                },
                pieSliceText: 'label percentage value', // Отображение значений на диаграмме
            };

            var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));
            chart1.draw(data1, options1);
        }

        function drawChart2() {
            var data2 = google.visualization.arrayToDataTable({{ data_bar_chart|safe }});



            var options2 = {
                title: '',

                legend: { position: 'none' },
                backgroundColor: { fill: 'transparent' },
                chartArea: { left: 70, top: 20, width: '70%', height: '80%' },
                isStacked: true,
                hAxis: {
                    title: ''
                },
                vAxis: {
                    minValue: 0,
                    title: ''
                },
                annotations: {
                    alwaysOutside: false,
                    style: 'point',
                    textStyle: { fontSize: 10, color: 'black' }
                }
            };
            var chart2 = new google.visualization.ColumnChart(document.getElementById('barchart'));
            chart2.draw(data2, options2);
        }
     </script>
{% endblock %}




{% block header %}

            <div class='nav_H'>
                <div class="wallet">Wallets</div>
                <button class="btn nav_btn btn_red" onclick="location.href='{% url 'create_wlt' %}'">Create new</button>
                <button class="btn nav_btn btn_blue" onclick="location.href='{% url 'transfer_funds' %}'">Transfer</button>
                <button class="btn nav_btn btn_blue" onclick="location.href='{% url 'update_rates' %}'">Update currency rates</button>
                {% if user.is_authenticated %}
                    <div style="width: 100%; text-align: right; padding: 10px 20px; box-sizing: border-box;">
                        Hello, {{ user.username }} | <a href="{% url 'logout' %}">Exit</a>
                    </div>
                {% endif %}
            </div>

            <div class="flex-container">
                <div>
                    <form method='POST'>
                    {% csrf_token %}
                        <label>Period from</label> {{ form.init_date }}
                        {% if form.date.errors %}
                            <div style="color: red;">{{ form.init_date.errors }}</div>
                        {% endif %}
                        <label>to</label> {{ form.final_date }}
                        {% if form.date.errors %}
                            <div style="color: red;">{{ form.final_date.errors }}</div>
                        {% endif %}

                         <!-- Подключение Flatpickr -->
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
                        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                flatpickr("#datepicker", {
                                    dateFormat: "Y-m-d",
                                });
                            });
                        </script>
                        <button class='btn nav_btn' type='submit' >Set</button>
                    </form>
                </div>

                {% if total_amount != 0 %}
                    <div>
                        <form method="get">
                            <label style="margin: 0px 0px 0px 100px">Currency for diagrams</label>
                            <select name="choosen_ticker" onchange="this.form.submit()">
                                {% for item in tickers %}
                                   <option value="{{ item }}" {% if item == choosen_ticker %}selected="selected"{% endif %}>
                                        {{ item }}
                                    </option>
                                {% endfor %}
                            </select>
                            Total: {{ total_amount }}
                        </form>
                    </div>
                {% endif %}

            </div>





{% endblock %}

{% block left_side %}
    {% for ticker, wallets in data.items %}
        <div style="margin:15px 0px 0px 0px;">
            {{ ticker }}
            {% if ticker in tickers_of_rates_available %}
                <span style="font-size: 12px; margin:0px 0px 0px 50px; font-style: italic;">
                    Buy: <b>{{ rates|get_item:ticker|get_item:"buy" }}</b>
                    Sell: <b>{{ rates|get_item:ticker|get_item:"sell" }}</b>
                    (on date: {{ rates|get_item:ticker|get_item:"date"|date:"Y-m-d H:i" }}</span>
            {% else %}
                <span style="font-size: 12px; margin:0px 0px 0px 50px; font-style: italic;">
                    no rates for this ticker !
                </span>
            {% endif %}
        </div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Wallet</th>
                    <th>Initial <br> balance</th>
                    <th>Income</th>
                    <th>Spending</th>
                    <th>Final <br> balance</th>
                </tr>
            </thead>
            <tbody>
                {% for wallet, wallet_data in wallets.items %}
                    <tr>
                        <td>{{ wallet_data.n }}</td>
                        <td style="font-weight: bold;">
                            <a href="{% url 'home_wlt' wallet_data.wlt_pk %}calendar/?choice=period&start_date={{info_init|date:'Y-m-d'}}&end_date={{info_final|date:'Y-m-d'}}">{{ wallet.f_name }}</a>
                        </td>
                        <td style="text-align: right;">{{ wallet_data.bal_on_date|floatformat:2 }}</td>
                        <td style="text-align: right;">{{ wallet_data.after_dt_sum|floatformat:2 }}</td>
                        <td style="text-align: right;">{{ wallet_data.after_ct_sum|floatformat:2 }}</td>
                        <td style="text-align: right;">{{ wallet_data.final_bal|floatformat:2 }}</td>

                {% endfor %}
                {% for total_ticker, total_data in totals.items %}
                    {% if total_ticker == ticker %}
                        <tr>
                            <td></td>
                            <td style="text-align: right; font-weight: bold;">TOTAL</td>
                            <td style="text-align: right; font-weight: bold;">{{ total_data.total_initial|floatformat:2 }}</td>
                            <td style="text-align: right; font-weight: bold;">{{ total_data.total_income|floatformat:2 }}</td>
                            <td style="text-align: right; font-weight: bold;">{{ total_data.total_spending|floatformat:2 }}</td>
                            <td style="text-align: right; font-weight: bold;">{{ total_data.total_final|floatformat:2 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block right_side %}
    {% if total_amount != 0 %}
        <div id="barchart" style="width: 700px; height: 700px;"></div>
    {% endif %}
{% endblock %}

{% block diagram %}
    {% if total_amount != 0 %}
        <div id="piechart" style="width: 300px; height: 300px;"></div>
    {% endif %}
{% endblock%}






