<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление типа дохода</title>
</head>

<body>
    <h1>Добавить или удалить тип дохода</h1>
    
    <!-- Сообщение -->
    

    <form method="post">
        {% csrf_token %}
        
        <!-- Поля формы -->
        {{ form.as_p }}

        <!-- Кнопки -->
        <button type="submit" name="add">Добавить</button>
        <button type="submit" name="delete">Удалить</button>
    </form>
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    {{ info }}
     
     
</body>
</html>
