{% extends 'layout/basic.html' %}
{% load static %}

{% block menu %}
    <div class = 'nav'>
        <a href="{% url 'home' %}" class="icon-container">
            <img src="{% static 'finance/gold_wallet.png' %}" height="40" class='wallets_image'>
            <span class="icon-text">Wallets</span>
        </a>
    </div>
{% endblock %}
{% block title %} Updating {% endblock %}
{% block header %} <h1> Wallet updating </h1>{% endblock %}

{% block left_side_content %}
   <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class="nav_btn">Update</button>
    </form>
{% endblock %}

