{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Wallet creating{% endblock %}

{% block menu %}
    <div class = 'nav'>
        <a href="{% url 'home' %}" class="icon-container">
            <img src="{% static 'finance/gold_wallet.png' %}" height="40" class='wallets_image'>
            <span class="icon-text">Wallets</span>
        </a>
    </div>
{% endblock %}

{% block header %}
    <h1>Wallet creating</h1>
{% endblock %}

{% block left_side %}
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class='nav_btn' type='submit'>Create</button>
    </form>
{% endblock %}
