{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} {{current_wlt.w_name}} :: spending adding {% endblock %}


{% block header %}
    <h1>
        {% if request.GET.choice %}
            <button class="btn nav_btn btn_blue"
                    onclick="location.href='{% url 'home_wlt' current_wlt.pk %}calendar/?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}'">
                < </button>
        {% else %}
            <button class="btn nav_btn btn_blue" onclick="location.href='{% url 'home_wlt' current_wlt.pk %}'"> < </button>
        {% endif %}
        Adding new income to: {{ current_wlt.f_name }}
    </h1>
{% endblock %}

{% block left_side %}
    <div class="container_dark">
        <form method='POST' action="">
            {% csrf_token %}
            <div>
                <label>{{ form.date.label }}</label>
                <div class="form_view">
                    {{ form.date }}
                </div>
                {% if form.date.errors %}
                    <div style="color: red;">{{ form.date.errors }}</div>
                {% endif %}
                </div>

             <!-- Подключение Flatpickr -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    flatpickr("#datepicker", {
                        dateFormat: "Y-m-d",
                    });
                });
            </script>


            <div>
                <label>{{ form.credit.label }}</label>
                <div class="form_view">{{ form.credit }}</div>
                {% if form.credit.errors %}
                    <div style="color: red; font-size: 12px;">{{ form.credit.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.destination.label }}</label>
                <div class="form_view">{{ form.destination }}</div>
                {% if form.destination.errors %}
                    <div style="color: red;">{{ form.destination.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.comment.label }}</label>
                <div class="form_comm">{{ form.comment }}</div>
                {% if form.comment.errors %}
                    <div style="color: red;">{{ form.comment.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.spending_type.label }}</label>
                <div class="form_view">{{ form.spending_type }}
                    <button class='btn nav_btn' onclick="location.href='{% url  'add_spending_type' w_pk %}'">Edit</button>
                </div>
                {% if form.spending_type.errors %}
                    <div style="color: red;">{{ form.spending_type.errors }}</div>
                {% endif %}
            </div>


            <button class='btn nav_btn' type='submit' name="form">Save</button>

        </form>
    </div>
{% endblock%}

{% block right_side %}
{% endblock%}
