{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Income type edit {% endblock %}

{% block menu %}
    <div class='nav'>
        <button class="btn nav_btn" onclick="location.href='{% url 'home' %}'">Wallets</button>
        <button class="btn nav_btn" onclick="location.href='{% url 'home_wlt' w_pk%}'">back to {{current_wlt}}</button>
    </div>
{% endblock %}

{% block header %}
    <h1>Income type edit</h1>
{% endblock %}

{% block left_side %}
    <div class="container_dark">
        <form method="POST">
            {% csrf_token %}
            <label  for="{{ form.choices.id_for_label }}">{{ form.choices.label }}</label><br>
            <div style="margin:5px 10px 10px 0px;">
                {{ form.choices }}
            </div>
             <div>
                <button class="btn nav_btn btn_red" type="submit" name="delete">Delete</button>
                <button class="btn nav_btn " type="submit" name="edit">Edit</button>
            </div>
            <p></p>
            <label for="{{ form.new_value.id_for_label }}">{{ form.new_value.label }}</label><br>
             <div style="margin:5px 10px 10px 0px;">
                {{ form.new_value }}
             </div>
            <div>
                <button class="btn nav_btn" type="submit" name="add">Add</button>
                <button class="btn nav_btn" type="submit" name="add_exit">Add and exit</button>
            </div>
        </form>
        {% if message %}
            <p class="msg">ℹ️ {{ message }}</p>
        {% endif %}

        {% if form.choices.field.queryset.exists %}
            <p class="msg">Existing types:</p>
            {% for income in form.choices.field.queryset %}
                <li class="types_lst">{{ income }}</li>
            {% endfor %}
        {% endif %}
        <p></p>
    </div>
{% endblock %}

{% block right_side %}
{% endblock %}
