{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Wallet deleting{% endblock %}

{% block menu %}
    <div class = 'nav'>
        <button class="btn nav_btn" onclick="location.href='{% url 'home' %}'">Wallets</button>
    </div>
{% endblock %}


{% block header %}
    <h1>Deleting wallet: <i>"{{ object.w_name }}"?</i></h1>
{% endblock %}

{% block left_side %}
    {% if not deleted %}
        <form method="post">
            {% csrf_token %}
            <button class='btn nav_btn' type="submit">Confirm deleting</button>
            <button class='btn nav_btn' type='button' onclick="location.href='{% url 'home_wlt' pk %}'">Cancel</button>
        </form>
    {% else %}
        <p class="msg" >ℹ️ Wallet was successfully deleted</p>
        <button class="btn nav_btn" onclick="location.href='{% url 'home' %}'">Exit</button>
    {% endif %}
{% endblock %}






