{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} {{current_wlt.w_name}} {% endblock %}
{% block menu %}
    <div class = 'nav'>
        <a href="{% url 'home' %}" class="icon-container">
            <img src="{% static 'finance/gold_wallet.png' %}" height="40" class='wallets_image'>
            <span class="icon-text">Wallets</span>
        </a>

        <a href="{% url 'update_wlt' current_wlt.pk %}" class="icon-container">
            <img src="{% static 'finance/edit_1x.gif' %}" alt="Edit" height="40">
            <span class="icon-text">Edit</span>
        </a>

        <a href="{% url 'delete_wlt' current_wlt.pk %}" class="icon-container">
            <img src="{% static 'finance/del_1x.gif' %}" alt="Delete" height="40">
            <span class="icon-text">Delete</span>
        </a>

        <a href="{% url  'add_income' current_wlt.pk %}" class="icon-container">
            <img src="{% static 'finance/add_income_1x.gif' %}" alt="Add income" height="40">
            <span class="icon-text">Add In</span>
        </a>

        <a href="{% url  'add_spending' current_wlt.pk %}" class="icon-container">
            <img src="{% static 'finance/add_spending_1x.gif' %}" alt="Add spending" height="40">
            <span class="icon-text">Add Out</span>
        </a>

    </div>
{% endblock %}
{% block header %}
    <!--<div class='header'>-->
    <!--    <h1>{{current_wlt.w_name}}</h1>-->
    <!--    <button style='margin: 0px 5px 0px 10px;' class='nav_btn' onclick="location.href='{% url 'update_wlt' pk %}'">Edit</button>-->
    <!--    <button class='nav_btn' onclick="location.href='{% url 'delete_wlt' pk %}'">Del</button>-->
    <!--    <button class='nav_btn' onclick="location.href='{% url  'add_income' pk %}'">+Dt</button>-->
    <!--    <button class='nav_btn' onclick="location.href='{% url  'add_income' pk %}'">+Ct</button>-->
    <!--</div>-->
{% endblock %}

{% block left_side_content %}
    <form method='POST' action="">
        {% csrf_token %}
        <label style="margin: 0px 5px 10px 0px; font-size:14px; color:red">Adding new income</label>

        <div style="margin: 10px 0px 0px 0px">
            <label style="margin: 10px 0px 10px 0px" for="{{ form_income.date.id_for_label }}">{{ form_income.date.label }}</label>
            <div style="margin: 0px 0px 10px 0px; height:22px;">{{ form_income.date }}</div>
            {% if form_income.date.errors %}
                <div style="color: red;">{{ form_income.date.errors }}</div>
            {% endif %}
        </div>
        <!-- Подключение Flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
            flatpickr("#datepicker", {
                dateFormat: "d-m-Y",
            });
        </script>

        <div>
            <label style="margin: 10px 5px 0px 0px; height:22px;" for="{{ form_income.debit.id_for_label }}">
                {{ form_income.debit.label }}
            </label>
            <div style="margin: 0px 0px 10px 0px; height:22px;">{{ form_income.debit }}</div>
            {% if form_income.debit.errors %}
                <div style="color: red; font-size: 12px;">
                    {{ form_income.debit.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form_income.source.id_for_label }}">{{ form_income.source.label }}</label>
            <div style="margin: 0px 0px 10px 0px; height:22px;">{{ form_income.source }}</div>
            {% if form_income.source.errors %}
                <div style="color: red;">{{ form_income.source.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="{{ form_income.comment.id_for_label }}">{{ form_income.comment.label }}</label>
            <div style="margin: 0px 0px 10px 0px; height:22px;">{{ form_income.comment }}</div>
            {% if form_income.comment.errors %}
                <div style="color: red;">{{ form_income.comment.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="{{ form_income.income_type.id_for_label }}">{{ form_income.income_type.label }}</label>
            <div style="margin: 0px 0px 10px 0px; height:22px;">{{ form_income.income_type }}
                <button class='nav_btn' onclick="location.href='{% url  'add_income_type' pk %}'">Edit types</button>
        </div>
            {% if form_income.income_type.errors %}
                <div style="color: red;">{{ form_income.income_type.errors }}</div>
            {% endif %}
        </div>
        <button class='nav_btn' type='submit' name="form_income">Save</button>
    </form>





{% endblock%}

{% block right_side_content %}
    <div class='content'>
        <div class="line"></div>
        ltrgleigeligmelibkeml
    </div>
{% endblock%}
