{% extends 'layout/basic.html' %}
{% load static %}

{% block menu %}
    <div class = 'nav'>
        <a href="{% url 'home' %}" class="icon-container">
            <img src="{% static 'finance/gold_wallet.png' %}" height="40" class='wallets_image'>
            <span class="icon-text">Wallets</span>
        </a>
    </div>
{% endblock %}

{% block header %}
    <h1>Deleting wallet: <i>"{{ object.w_name }}"?</i></h1>
{% endblock %}

{% block left_side_bar %}
    {% if not deleted %}
        <!-- Форма для отправки POST-запроса -->
        <form method="post">
            {% csrf_token %}
            <button class='nav_btn' type="submit">Confirm deleting</button>
            <button class='nav_btn' type='button' onclick="location.href='{% url 'home_wlt' pk %}'">Cancel</button>
        </form>
    {% else %}

        <p style='color:#ffe4e1; margin:10px 10px;'>Wallet was successfully deleted!</p>
        <button class="nav_btn" onclick="location.href='{% url 'home' %}'">Exit</button>
    {% endif %}
{% endblock %}






