{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} {{current_wlt.w_name}} :: income adding {% endblock %}


{% block header %}
    <h1>
        <button class="btn nav_btn btn_blue"
                onclick="location.href='{% url 'home_wlt' current_wlt.pk %}?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}'"><</button>
        Adding new income to: {{current_wlt.f_name}}
    </h1>
{% endblock %}

{% block left_side %}
    <div class="container_dark">
        <form method='POST' action="">
            {% csrf_token %}

            <div>
                <label >{{ form.date.label }}</label>
                <div class="form_view">{{ form.date }}</div>
                {% if form.date.errors %}
                    <div style="color: red;">{{ form.date.errors }}</div>
                {% endif %}
            </div>
             <!-- Подключение Flatpickr -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script>
                flatpickr("#datepicker", {
                    dateFormat: "d-m-Y",
                });
            </script>


            <div>
                <label>{{ form.debit.label }}</label>
                <div class="form_view">{{ form.debit }}</div>
                {% if form.debit.errors %}
                    <div style="color: red; font-size: 12px;">{{ form.debit.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.source.label }}</label>
                <div class="form_view">{{ form.source }}</div>
                {% if form.source.errors %}
                    <div style="color: red;">{{ form.source.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.comment.label }}</label>
                <div class="form_comm">{{ form.comment }}</div>
                {% if form.comment.errors %}
                    <div style="color: red;">{{ form.comment.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.income_type.label }}</label>
                <div class="form_view">
                    {{ form.income_type }}
                    <button class='btn nav_btn' onclick="location.href='{% url  'add_income_type' w_pk %}'">Edit</button>
                </div>
                {% if form.income_type.errors %}
                    <div style="color: red;">{{ form.income_type.errors }}</div>
                {% endif %}
            </div>


            <button class='btn nav_btn' type='submit' name="form">Save</button>

        </form>
    </div>
{% endblock%}


