{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Wallet creating{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    <h1>
        <button class="btn nav_btn btn_green" onclick="location.href='{% url 'home' %}'"> < </button>
        Wallet creating
    </h1>
{% endblock %}




{% block left_side %}
    <div class="container_dark">
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class='btn nav_btn' type='submit'>Create</button>
        </form>
    </div>
{% endblock %}
