{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} income updating {% endblock %}

{% block menu %}
    <div class = 'nav'>
        <a href="{% url 'home' %}" class="icon-container">
            <img src="{% static 'finance/gold_wallet.png' %}" height="40" class='wallets_image'>
            <span class="icon-text">Wallets</span>
        </a>
    </div>
{% endblock %}

{% block header %}
    <h1>Income updating</h1>
{% endblock %}

{% block left_side %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button class='nav_btn' type='submit'>Update</button></p>

    </form>

{% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}

{% block right_side %}
{% endblock %}















