{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Income type edit {% endblock %}

{% block menu %}
    <div class = 'nav'>
        <a href="{% url 'home' %}" class="icon-container">
            <img src="{% static 'finance/gold_wallet.png' %}" height="40" class='wallets_image'>
            <span class="icon-text">Wallets</span>
        </a>
    </div>
{% endblock %}

{% block header %}
    <h1>Income type edit</h1>
{% endblock %}

{% block left_side %}
    <form method='POST'>
        {% csrf_token %}
        {{ form.choices.label_tag }}<br>
        {{ form.choices }}
        <button type="submit" name="delete">Delete</button>
        <br><br>
        {{ form.new_value.label_tag }}<br>
        {{ form.new_value }}<br><br>
        <button type="submit" name="add">Add</button>
        <button type="submit" name="add_exit">Add and exit</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}

{% block right_side %}
{% endblock %}
