{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Wallet creating{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    <h1>
        <button class="btn nav_btn btn_green" onclick="location.href='{% url 'home' %}'"> < </button>
        Wallet creating
    </h1>
{% endblock %}



{% block left_side %}
    <div class="container_dark">
        <form method="POST">
            {% csrf_token %}

            <p><label>Wallet Name:</label> {{ form.w_name }}</p>
            <p><label >Currency Ticker:</label> {{ form.w_ticker }}</p>
            <p><label >Type:</label> {{ form.w_type }}</p>
            <p><label >Bank Name:</label> {{ form.w_bank }}</p>
            <p><label f>Open Date:</label> {{ form.w_date }}</p>
            <p><label >Open Balance:</label> {{ form.w_balance }}</p>
            <p><label >Limit:</label> {{ form.w_limit }}</p>
            <p><button class="btn nav_btn" type="submit">Create</button></p>
        </form>
    </div>
<!-- Подключение Flatpickr -->
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
                        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                flatpickr("#datepicker", {
                                    dateFormat: "Y-m-d",
                                });
                            });
                        </script>


{% endblock %}