{% extends 'layout/basic.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block title %} Income type updating {% endblock %}

{% block header %}
    <h1>
        {% if request.GET.choice %}
            <button class="btn nav_btn btn_green"
                    onclick="location.href='{% url 'home_wlt' w_pk %}calendar/?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}'">
                < </button>
        {% else %}
            <button class="btn nav_btn btn_green" onclick="location.href='{% url 'home_wlt' w_pk %}'"> < </button>
        {% endif %}
        Income type updating
    </h1>
{% endblock %}


{% block left_side %}
   <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class="btn nav_btn">Update</button>
    </form>
{% endblock %}

