{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} income updating {% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    <h1>Income updating</h1>
{% endblock %}

{% block left_side %}
    <div class="container_dark">
        <form method='POST' action="">
            {% csrf_token %}

            <div>
                <label>{{ form.date.label }}</label>
                <p class="form_view">{{ form.date }}</p>
                {% if form.date.errors %}
                    <div style="color: red;">{{ form.date.errors }}</div>
                {% endif %}
            </div>

            <!-- Подключение Flatpickr -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script>
                flatpickr("#id_date", {  <!-- Используем ID автоматически сгенерированное Django -->
                    dateFormat: "Y-m-d",
                });
            </script>

            <div>
                <label>{{ form.debit.label }}</label>
                <div class="form_view">{{ form.debit }}</div>
                {% if form.debit.errors %}
                    <div style="color: red; font-size: 12px;">
                        {{ form.debit.errors }}
                    </div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.source.label }}</label>
                <div class="form_view">{{ form.source }}</div>
                {% if form.source.errors %}
                    <div style="color: red;">{{ form.source.errors }}</div>
                {% endif %}
            </div>

            <div>
                <label>{{ form.comment.label }}</label>
                <div class="form_view">{{ form.comment }}</div>
                {% if form.comment.errors %}
                    <div style="color: red;">{{ form.comment.errors }}</div>
                {% endif %}
            </div>
            <br><br>
            <div>
                <label>{{ form.income_type.label }}</label>
                <div class="form_view">{{ form.income_type }}</div>
                {% if form.income_type.errors %}
                    <div style="color: red;">{{ form.income_type.errors }}</div>
                {% endif %}
            </div>

            <div>
                <button class='btn nav_btn' type='submit' name="save">Save</button>
                <button class="btn nav_btn btn_red" type="submit" name="delete">Delete</button>
            </div>
        </form>
    </div>
{% endblock %}





{% block right_side %}
{% endblock %}















