{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Wallet deleting{% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
 <h1>Delete wallet?</h1>
{% endblock %}

{% block left_side %}
    <div class="container_dark">
        {% if message %}
            <div>
                <p class="msg">ℹ️ {{ message }}</p>
                <button class="btn nav_btn btn_green" onclick="location.href='{% url 'home' %}'"> Exit </button>
            </div>

        {% else %}
            {% if total_qty != 0 %}
                <div style="margin:5px 5px 10px 0px; font-weight:bold; font-size:14">⚠️Wallet '{{ current_wlt }}' has:</div>
                    {% if recs_income_qty != 0 %}
                        <li style="font-size:14px">{{ recs_income_qty }} income records</li>
                    {% endif %}
                    {% if recs_spending_qty != 0 %}
                        <li style="font-size:14px">{{ recs_spending_qty }} spending records</li>
                    {% endif %}

            {% else %}
                <p>No records associated with this wallet.</p>
            {% endif %}



            <form method="post">
                {% csrf_token %}
                <button  name="confirm" type="submit" class='btn nav_btn btn_red' >Confirm</button>
                <button name="cancel" type="submit" class="btn nav_btn">Cancel</button><br>
            </form>

        {% endif %}
    </div>
{% endblock %}
