{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} spending updating {% endblock %}

{% block menu %}
{% endblock %}

{% block header %}
    <h1>Spending updating</h1>
{% endblock %}

{% block left_side %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button class='nav_btn' type='submit'>Update</button></p>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}

{% block right_side %}
{% endblock %}















